# navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"

# always enable colored `grep` output
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# enable aliases to be sudo’ed
alias sudo='sudo '

# get week number
alias week='date +%V'

# Reload the shell (i.e. invoke as a login shell)
alias rl="exec ${SHELL} -l"

# xclip
alias copy="xclip -selection clipboard"
alias paste="xclip -o -selection clipboard"

# tmux
alias t=tmux
alias tl='tmux ls'
alias tn='tmux new -s'
alias ta='tmux attach -t'
alias tk='tmux kill-session -t'
alias tks='tmux kill-server'

# shortcuts
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias dw="cd ~/workspace"
alias dwo="cd ~/workspace/others"
alias dwg="cd ~/workspace"
alias dwgh="cd ~/workspace/github.com"
alias dwgl="cd ~/workspace/gitlab.com"

# mac hide/show all desktop icons
alias desktophide="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias desktopshow="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# others
alias v=nvim
alias vim=nvim
alias vi=vim
alias k=kubectl
alias rr='ranger --choosedir=$HOME/.rangerdir; LASTDIR=`cat $HOME/.rangerdir`; cd "$LASTDIR"'
alias dk=docker

# dotfiles setup bare git
alias dtf='/usr/bin/git --git-dir=$HOME/dotfiles/ --work-tree=$HOME'

