# navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"

# always enable colored `grep` output
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# enable aliases to be sudo’ed
alias sudo='sudo '

# get week number
alias week='date +%V'

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# xclip
alias copy="xclip -selection clipboard"
alias paste="xclip -o -selection clipboard"

# tmux
alias t=tmux
alias tl='tmux ls'
alias ts='tmux new -s'
alias ta='tmux attach -t'
alias tk='tmux kill-session -t'
alias tks='tmux kill-server'

# shortcuts
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias dw="cd ~/workspace"
alias dwo="cd ~/workspace/others"
alias dwg="cd ~/workspace"
alias dwgh="cd ~/workspace/github.com"
alias dwgl="cd ~/workspace/gitlab.com"

# others
alias nv=nvim
alias v=vim
alias k=kubectl
alias rr=ranger
alias dk=docker

# dotfiles setup bare git
alias dtf='/usr/bin/git --git-dir=$HOME/dotfiles/ --work-tree=$HOME'

