#!/bin/bash

# enable aliases to be sudo’ed
alias sudo='sudo '

# get week number
alias week='date +%V'

# Reload the shell (i.e. invoke as a login shell)
alias rl="exec ${SHELL} -l"

# xclip
if which xclip >/dev/null 2>&1; then
  alias c="xclip -selection clipboard"
  alias copy="xclip -selection clipboard"
  alias p="xclip -o -selection clipboard"
  alias paste="xclip -o -selection clipboard"
fi
if [[ $OSTYPE == 'darwin'* ]]; then
  alias c="pbcopy"
  alias copy="pbcopy"
  alias p="pbpaste"
  alias paste="pbpaste"
fi

# tmux
if which tmux >/dev/null 2>&1; then
  alias t=tmux
  alias tl='tmux ls'
  alias tn='tmux new -s'
  alias ta='tmux attach -t'
  alias tk='tmux kill-session -t'
  alias tkS='tmux kill-server'
fi

# shortcuts
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias dw="cd ~/workspace"
alias dwo="cd ~/workspace/others"
alias dwg="cd ~/workspace"
alias dwgh="cd ~/workspace/github.com"
alias dwgl="cd ~/workspace/gitlab.com"

# mac hide/show all desktop icons
if which defaults > /dev/null 2>&1; then
  alias desktophide="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
  alias desktopshow="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"
fi

# always enable colored `grep` output
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# vim related
if which nvim > /dev/null 2>&1; then
  alias v=nvim
  alias vi=vim
  alias vim=nvim
fi

alias k=kubectl
alias rr='ranger --choosedir=$HOME/.rangerdir; RANGER_LAST_DIR=`cat $HOME/.rangerdir`; cd "$RANGER_LAST_DIR"'
alias dk=docker

# dotfiles setup bare git
alias dtf='/usr/bin/git --git-dir=$HOME/dotfiles/ --work-tree=$HOME'

