#!/bin/bash

# make vim the default editor.
export EDITOR='nvim';
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

# jenv
export JAVA_HOME="$(jenv prefix)"
export PATH="$HOME/.jenv/bin:$PATH"
eval "$(jenv init -)"

