[include]
  path = ~/.gitconfig-local

[core]
  editor = "$(which nvim)"
  autocrlf = input
	excludesFile = ~/.gitignore

[alias]
  a = add
  aa = add .
  cm = commit -m
  cmw = "!f() { git add . && git commit -m "$(git branch --show-current)"; }; f"
  s = status --short --branch
  st = status
  d = diff
  dh = diff HEAD
  dino = diff --name-only
  co = checkout
  cd = checkout origin/develop
  cb = checkout -b
  b = branch
  bb = "!f() { git branch "$(git branch --show-current)_$(date +%Y%m%d_%H%M%S)"; }; f"
  br = branch -r
  bn = branch --show-current
  bd = branch -d
  bD = branch -D
  hist = log --pretty="format:\"%h %ad | %s%d [%an]\"" --graph --date=short
  l = log --pretty=oneline -n 20 --graph --abbrev-commit
  lo = log --oneline
  lof = log --oneline --follow
  lofp = log --oneline --follow -p
  ca = commit --amend
  can = commit --amend --no-edit
  ch = cherry
  chv = cherry -v
  chp = cherry-pick
  p = push
  pf = push --force-with-lease
  pff = push -f
  pu = push -u origin HEAD
  pl = pull
  f = fetch
  fa = fetch --all
  rh = reset --hard
  rhh = reset --hard HEAD
  rht = "!f() { git reset --hard "$(git rev-parse --abbrev-ref --symbolic-full-name @{u})";}; f"
  rb = rebase
  rbi = rebase --interactive
  rbo = rebase --onto
  rbod = rebase --onto origin/develop
  t = tag
  ts = tag -l
  wt = worktree
  wtl = worktree list
  wta = worktree add
  wtr = worktree remove
  wtp = worktree prune
  cl = clone
  sq = "!f() { git reset HEAD~$1; }; f"
  sqb = "!f() { git reset HEAD~$(git rev-list --count $1...HEAD); }; f"
  rlc = "!f() { git rev-list --count $1...HEAD; }; f"
  count = "!f() { git rev-list --count $1...HEAD; }; f"
  plb = "!f() { git fetch origin $1:$1; }; f"
  contributors = shortlog --summary --numbered
  whoami = config user.email

  # list aliases
  aliases = config --get-regexp alias

[pull]
  ff = only

[init]
  defaultBranch = main

[delta]
  navigate = true
  light = false
  side-by-side = true
  line-numbers = true

[merge]
  conflictStyle = diff3

[diff]
  colorMoved = default

[rerere]
	enabled = true
