source ~/.vimrc

" -- intellij only config --
set ideajoin
set idearefactormode=keep
set clipboard+=ideaput
set visualbell
" status intellij
set showmode

" -- intellij mappings --
nnoremap <leader>si :source ~/.ideavimrc<CR>

" see :actionlist
map ,r <Action>(Run)
map ,w <Action>(ContextRun)
map ,y <Action>(ChooseRunConfiguration)
map ,d <Action>(Debug)
map ,s <Action>(Stop)
map ,g <Action>(ContextDebug)
map ,b <Action>(ToggleLineBreakpoint)
map ,n <Action>(ActivateDebugToolWindow)
map ,p <Action>(JumpToLastWindow)
map ,z <Action>(ToggleDistractionFreeMode)
map ,x <Action>(HideAllWindows)

map ,a <Action>(GotoAction)
map ,e <Action>(SearchEverywhere)
map ,c <Action>(GotoClass)
map ,f <Action>(GotoFile)
map ,l <Action>(GotoSymbol)
map ,t <Action>(ActivateTerminalToolWindow)
map <leader>t <Action>(Terminal.OpenInTerminal)

map ge <Action>(GotoNextError)
map gE <Action>(GotoPreviousError)
map gc <Action>(GotoClass)
map gi <Action>(GotoImap)
map gd <Action>(GotoDeclaration)
map gp <Action>(GotoSuperMethod)
map gt <Action>(GotoTest)

map <s-TAB> <Action>(PreviousTab)
map <TAB> <Action>(NextTab)

map <Leader>en <Action>(EditSourceInNewWindow)
map <Leader>n <Action>(NextWindow)

map [[ <Action>(MethodUp)
map ]] <Action>(MethodDown)

map zc <Action>(CollapseRegion)
map zo <Action>(ExpandRegion)
map <leader>zc <Action>(CollapseAllRegions)
map <leader>zo <Action>(ExpandAllRegions)

map <leader>r <Action>(Refactorings.QuickListPopupAction)
